@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 29, 29;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --food: #fb2100;
  --movie: #5d2719;
  --character: #ffec3e;
  --fashion: #00c3a2;
  --music: #ff69b1;
  --living: #009bdc;
  --g1: #888;
  --g2: #eaeaea;
  --etc: #000;
}

#main.open {
  overflow: hidden;
  height: 100dvh;
}

.text-ellipsis-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
  }

  body {
    color: var(--foreground-rgb);
    font-family:
      "Pretendard Variable",
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      "Helvetica Neue",
      "Segoe UI",
      "Apple SD Gothic Neo",
      "Noto Sans KR",
      "Malgun Gothic",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }
}
@layer components {
  .btn-rounded {
    @apply h-[27px] w-[122px] rounded text-h5 font-bold text-white;
  }
  .btn {
    @apply flex h-[27px] items-center justify-center rounded-lg border border-gray text-h5;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
